h3 {
   color: brown;
   text-decoration: underline;
}

img {
   height: 300px;
   width: 300px;
   align-items: center;
   padding-bottom: 10px;
   padding-left: 25px;
   padding-right: 25px
}

.photos {
   text-align: center
}